{
  "components": {
    "requestBodies": {},
    "schemas": {},
    "securitySchemes": {
      "basicAuth": {
        "description": "",
        "scheme": "basic",
        "type": "http"
      }
    }
  },
  "x-stoplight": {
    "id": "rk8t2vi2pfoeq"
  },
  "info": {
    "contact": {
      "email": "support@transfi.com",
      "name": "Transfi Developer Support",
      "url": "https://transfi.com"
    },
    "description": "Access state of the art crypto payment rails easily using TransFi's API",
    "license": {
      "name": "Proprietary",
      "url": "https://transfi.com"
    },
    "summary": "TransFi Single Integrated API",
    "title": "TransFi Single Integrated API",
    "version": "1.0"
  },
  "openapi": "3.1.0",
  "security": [
    {
      "basicAuth": []
    }
  ],
  "servers": [
    {
      "description": "Sandbox Server",
      "url": "https://sandbox-api.transfi.com"
    }
  ],
  "tags": [
    {
      "name": "Configuration"
    },
    {
      "name": "Exchange Rate"
    },
    {
      "name": "Individual User"
    },
    {
      "name": "Individual User KYC"
    },
    {
      "name": "Business User"
    },
    {
      "name": "Business User KYB"
    },
    {
      "name": "Invoice"
    },
    {
      "name": "Fiat Order"
    },
    {
      "name": "Crypto Order"
    },
    {
      "name": "Prefunds"
    },
    {
      "name": "Prefunds - Sandbox"
    },
    {
      "name": "Balance"
    }
  ],
  "paths": {
    "/v2/supported-currencies": {
      "get": {
        "description": "Retrieves a list of all fiat currencies available for payin and payout, including supported local currencies that comply with the [ISO 4217 standard](https://en.wikipedia.org/wiki/ISO_4217#) (e.g., USD). This list specifies the currencies that merchants can display on a payment page for end users but does not include the currencies that can be stored in wallets on the platform.",
        "operationId": "list-supported-currencies",
        "parameters": [
          {
            "description": "Payment Direction i.e. - deposit or withdraw",
            "in": "query",
            "name": "direction",
            "required": true,
            "schema": {
              "enum": [
                "deposit",
                "withdraw"
              ],
              "type": "string"
            }
          },
          {
            "description": "Current Page Number",
            "in": "query",
            "name": "page",
            "schema": {
              "default": "1",
              "examples": [
                "1"
              ],
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "description": "Limit records",
            "in": "query",
            "name": "limit",
            "schema": {
              "default": "5",
              "examples": [
                "5"
              ],
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "MID",
            "description": "Merchant or sub-merchant MID. Used to execute the request in the context of that specific entity."
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Currencies List": {
                    "value": {
                      "data": [
                        {
                          "currency": "JPY",
                          "logoUrl": "https://common-fiat-logos.s3.ap-southeast-1.amazonaws.com/jpy.svg",
                          "decimalPrecision": 0
                        },
                        {
                          "currency": "EUR",
                          "logoUrl": "https://common-fiat-logos.s3.ap-southeast-1.amazonaws.com/eur.svg",
                          "decimalPrecision": 2
                        },
                        {
                          "currency": "CLP",
                          "logoUrl": "https://common-fiat-logos.s3.ap-southeast-1.amazonaws.com/clp.svg",
                          "decimalPrecision": 2
                        },
                        {
                          "currency": "IDR",
                          "logoUrl": "https://common-fiat-logos.s3.ap-southeast-1.amazonaws.com/idr.svg",
                          "decimalPrecision": 0
                        },
                        {
                          "currency": "PHP",
                          "logoUrl": "https://common-fiat-logos.s3.ap-southeast-1.amazonaws.com/php.svg",
                          "decimalPrecision": 2
                        }
                      ],
                      "pages": 3,
                      "status": "success",
                      "total": 15
                    },
                    "summary": "Currencies List"
                  }
                },
                "schema": {
                  "properties": {
                    "data": {
                      "items": {
                        "properties": {
                          "currency": {
                            "type": "string"
                          },
                          "logoUrl": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "pages": {
                      "type": "integer"
                    },
                    "status": {
                      "type": "string"
                    },
                    "total": {
                      "type": "integer"
                    }
                  },
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "data": [
                        {
                          "currency": "NOK",
                          "logoUrl": "https://example.com/nok_logo.png",
                          "maxAmount": 7500,
                          "minAmount": 35
                        },
                        {
                          "currency": "DKK",
                          "logoUrl": "https://example.com/dkk_logo.png",
                          "maxAmount": 8500,
                          "minAmount": 27
                        },
                        {
                          "currency": "ZAR",
                          "logoUrl": "https://example.com/zar_logo.png",
                          "maxAmount": 30000,
                          "minAmount": 100
                        },
                        {
                          "currency": "AED",
                          "logoUrl": "https://example.com/aed_logo.png",
                          "maxAmount": 12000,
                          "minAmount": 30
                        },
                        {
                          "currency": "PLN",
                          "logoUrl": "https://example.com/pln_logo.png",
                          "maxAmount": 9500,
                          "minAmount": 22
                        }
                      ],
                      "pages": 8,
                      "status": "success",
                      "total": 36
                    }
                  }
                }
              }
            },
            "description": "Currencies list information"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "Invalid Arguments": {
                    "value": {
                      "code": "INVALID_ARGUMENTS",
                      "message": "Request Params -  direction is invalid"
                    }
                  },
                  "Missing Arguments": {
                    "value": {
                      "code": "MISSING_ARGUMENTS",
                      "message": "Request Params -  direction is empty"
                    }
                  }
                },
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "code": "INVALID_ARGUMENTS",
                      "message": "Request Params -  direction is invalid"
                    }
                  }
                }
              }
            },
            "description": "Request containing missing or invalid parameters."
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "Customer not found": {
                    "value": {
                      "code": "CUSTOMER_NOT_FOUND",
                      "message": "Unable to identify the customer"
                    }
                  }
                },
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "code": "CUSTOMER_NOT_FOUND",
                      "message": "Unable to identify the customer"
                    }
                  }
                }
              }
            },
            "description": "No resource found"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "summary": "List Currencies",
        "tags": [
          "Configuration"
        ],
        "x-stoplight": {
          "id": "ak658rnlk17n4"
        }
      }
    },
    "/v2/payment-methods": {
      "get": {
        "description": "To retrieve a list of banks and local wallets currently supported, we can enable additional methods based on your preferences. Please contact our team to request the activation of more methods.",
        "operationId": "list-payment-methods",
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "required": true,
            "description": "Currency of the payment",
            "schema": {
              "type": "string",
              "default": "PHP"
            }
          },
          {
            "allowEmptyValue": true,
            "description": "Limit of records per page",
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 5,
              "examples": [
                1
              ],
              "type": "number"
            }
          },
          {
            "description": "Display page number",
            "in": "query",
            "name": "page",
            "schema": {
              "default": 1,
              "examples": [
                1
              ],
              "minimum": 1,
              "type": "number"
            }
          },
          {
            "name": "direction",
            "in": "query",
            "required": true,
            "description": "Direction of the payment i.e - deposit or withdraw",
            "schema": {
              "type": "string",
              "default": "deposit",
              "enum": [
                "deposit",
                "withdraw"
              ]
            }
          },
          {
            "description": "Display additional details required for headless mode",
            "in": "query",
            "name": "headlessMode",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "examples": [
                "true"
              ],
              "type": "string",
              "default": "false"
            },
            "deprecated": false
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "MID",
            "description": "Merchant or sub-merchant MID. Used to execute the request in the context of that specific entity."
          },
          {
            "name": "userType",
            "in": "query",
            "required": false,
            "description": "Display userType payment methods",
            "schema": {
              "type": "string",
              "default": "individual",
              "enum": [
                "individual",
                "business"
              ],
              "example": "individual"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "List of Payment Methods": {
                    "value": {
                      "pages": 2,
                      "paymentMethods": [
                        {
                          "additionalDetails": {
                            "phone": {
                              "max": 12,
                              "min": 10,
                              "pattern": "^\\d{10,12}$",
                              "type": "string"
                            },
                            "phoneCode": {
                              "enum": [
                                "+62"
                              ],
                              "type": "string"
                            }
                          },
                          "iframeSupport": true,
                          "logoUrl": "https://common-payment-methods-logo.s3.ap-southeast-1.amazonaws.com/qris.svg",
                          "maxAmount": 20000000,
                          "minAmount": 10000,
                          "name": "QRIS",
                          "paymentCode": "qris",
                          "paymentType": "local_wallet"
                        },
                        {
                          "additionalDetails": {
                            "phone": {
                              "max": 12,
                              "min": 10,
                              "pattern": "^\\d{10,12}$",
                              "type": "string"
                            },
                            "phoneCode": {
                              "enum": [
                                "+62"
                              ],
                              "type": "string"
                            }
                          },
                          "iframeSupport": true,
                          "logoUrl": "https://common-payment-methods-logo.s3.ap-southeast-1.amazonaws.com/dana.svg",
                          "maxAmount": 20000000,
                          "minAmount": 10000,
                          "name": "Dana",
                          "paymentCode": "dana",
                          "paymentType": "local_wallet"
                        },
                        {
                          "additionalDetails": {
                            "phone": {
                              "max": 12,
                              "min": 10,
                              "pattern": "^\\d{10,12}$",
                              "type": "string"
                            },
                            "phoneCode": {
                              "enum": [
                                "+62"
                              ],
                              "type": "string"
                            }
                          },
                          "iframeSupport": true,
                          "logoUrl": "https://common-payment-methods-logo.s3.ap-southeast-1.amazonaws.com/ovo.svg",
                          "maxAmount": 20000000,
                          "minAmount": 10000,
                          "name": "OVO",
                          "paymentCode": "ovo",
                          "paymentType": "local_wallet"
                        },
                        {
                          "additionalDetails": {
                            "accountNumber": {
                              "max": 18,
                              "min": 7,
                              "pattern": "^\\d{7,18}$",
                              "type": "string"
                            },
                            "bic": {
                              "max": 12,
                              "min": 4,
                              "pattern": "^[A-Z0-9]+$",
                              "type": "string"
                            }
                          },
                          "iframeSupport": true,
                          "logoUrl": "https://common-payment-methods-logo.s3.ap-southeast-1.amazonaws.com/bni.svg",
                          "maxAmount": 50000000,
                          "minAmount": 10000,
                          "name": "BNI",
                          "paymentCode": "bni",
                          "paymentType": "bank_transfer"
                        },
                        {
                          "additionalDetails": {
                            "accountNumber": {
                              "max": 18,
                              "min": 7,
                              "pattern": "^\\d{7,18}$",
                              "type": "string"
                            },
                            "bic": {
                              "max": 12,
                              "min": 4,
                              "pattern": "^[A-Z0-9]+$",
                              "type": "string"
                            }
                          },
                          "iframeSupport": true,
                          "logoUrl": "https://common-payment-methods-logo.s3.ap-southeast-1.amazonaws.com/bri.svg",
                          "maxAmount": 50000000,
                          "minAmount": 10000,
                          "name": "BRI",
                          "paymentCode": "bri",
                          "paymentType": "bank_transfer"
                        }
                      ],
                      "total": 7
                    }
                  }
                },
                "schema": {
                  "properties": {
                    "pages": {
                      "type": "integer"
                    },
                    "paymentMethods": {
                      "items": {
                        "properties": {
                          "additionalDetails": {
                            "properties": {
                              "accountNumber": {
                                "properties": {
                                  "max": {
                                    "type": "integer"
                                  },
                                  "min": {
                                    "type": "integer"
                                  },
                                  "pattern": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "bic": {
                                "properties": {
                                  "max": {
                                    "type": "integer"
                                  },
                                  "min": {
                                    "type": "integer"
                                  },
                                  "pattern": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "phone": {
                                "properties": {
                                  "max": {
                                    "type": "integer"
                                  },
                                  "min": {
                                    "type": "integer"
                                  },
                                  "pattern": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "phoneCode": {
                                "properties": {
                                  "enum": {
                                    "items": {
                                      "type": "string"
                                    },
                                    "type": "array"
                                  },
                                  "type": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              }
                            },
                            "type": "object"
                          },
                          "logoUrl": {
                            "type": "string"
                          },
                          "maxAmount": {
                            "type": "integer"
                          },
                          "minAmount": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "paymentCode": {
                            "type": "string"
                          },
                          "paymentType": {
                            "enum": [
                              "local_wallet",
                              "bank_transfer",
                              "card"
                            ]
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "total": {
                      "type": "integer"
                    }
                  },
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "pages": 2,
                      "paymentMethods": [
                        {
                          "additionalFields": {
                            "accountNumber": {
                              "max": 18,
                              "min": 7,
                              "pattern": "^\\d{7,18}$",
                              "type": "string"
                            },
                            "bic": {
                              "max": 12,
                              "min": 4,
                              "pattern": "^[A-Z0-9]+$",
                              "type": "string"
                            }
                          },
                          "iframeSupport": false,
                          "logoUrl": "https://common-payment-methods-logo.s3.ap-southeast-1.amazonaws.com/bss.svg",
                          "maxAmount": 100000000,
                          "minAmount": 100000,
                          "name": "Bank Sahabat Sampoerna",
                          "paymentCode": "bss",
                          "paymentType": "bank_transfer"
                        },
                        {
                          "additionalFields": {
                            "accountNumber": {
                              "max": 18,
                              "min": 7,
                              "pattern": "^\\d{7,18}$",
                              "type": "string"
                            },
                            "bic": {
                              "max": 12,
                              "min": 4,
                              "pattern": "^[A-Z0-9]+$",
                              "type": "string"
                            }
                          },
                          "logoUrl": "https://common-payment-methods-logo.s3.ap-southeast-1.amazonaws.com/mandiri.svg",
                          "maxAmount": 100000000,
                          "minAmount": 10000,
                          "name": "Mandiri",
                          "paymentCode": "mandiri",
                          "paymentType": "bank_transfer"
                        },
                        {
                          "additionalFields": {
                            "accountNumber": {
                              "max": 18,
                              "min": 7,
                              "pattern": "^\\d{7,18}$",
                              "type": "string"
                            },
                            "bic": {
                              "max": 12,
                              "min": 4,
                              "pattern": "^[A-Z0-9]+$",
                              "type": "string"
                            }
                          },
                          "logoUrl": "https://common-payment-methods-logo.s3.ap-southeast-1.amazonaws.com/permata.svg",
                          "maxAmount": 100000000,
                          "minAmount": 10000,
                          "name": "CIMB",
                          "paymentCode": "cimb",
                          "paymentType": "bank_transfer"
                        },
                        {
                          "additionalFields": {
                            "accountNumber": {
                              "max": 18,
                              "min": 7,
                              "pattern": "^\\d{7,18}$",
                              "type": "string"
                            },
                            "bic": {
                              "max": 12,
                              "min": 4,
                              "pattern": "^[A-Z0-9]+$",
                              "type": "string"
                            }
                          },
                          "logoUrl": "https://common-payment-methods-logo.s3.ap-southeast-1.amazonaws.com/permata.svg",
                          "maxAmount": 100000000,
                          "minAmount": 10000,
                          "name": "Permata",
                          "paymentCode": "permata",
                          "paymentType": "bank_transfer"
                        },
                        {
                          "additionalFields": {
                            "phone": {
                              "max": 12,
                              "min": 10,
                              "pattern": "^\\d{10,12}$",
                              "type": "string"
                            },
                            "phoneCode": {
                              "enum": [
                                "+62"
                              ],
                              "type": "string"
                            }
                          },
                          "logoUrl": "https://common-payment-methods-logo.s3.ap-southeast-1.amazonaws.com/ovo.svg",
                          "maxAmount": 20000000,
                          "minAmount": 10000,
                          "name": "OVO",
                          "paymentCode": "ovo",
                          "paymentType": "local_wallet"
                        }
                      ],
                      "total": 8
                    }
                  }
                }
              }
            },
            "description": "Supported Payment Methods Information."
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "Missing arguments": {
                    "value": {
                      "code": "MISSING_ARGUMENTS",
                      "message": "Request Params - currency or direction"
                    },
                    "summary": "Request containing missing or invalid parameters."
                  }
                },
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "code": "MISSING_ARGUMENTS",
                      "message": "Request Params - currency or direction"
                    }
                  }
                }
              }
            },
            "description": "Request containing missing or invalid parameters."
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "Customer not found": {
                    "value": {
                      "code": "CUSTOMER_NOT_FOUND",
                      "message": "Unable to identify the customer"
                    },
                    "summary": "No resource found"
                  }
                },
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "code": "CUSTOMER_NOT_FOUND",
                      "message": "Unable to identify the customer"
                    }
                  }
                }
              }
            },
            "description": "No resource found."
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "summary": "List Payment Methods",
        "tags": [
          "Configuration"
        ],
        "x-stoplight": {
          "id": "utjitxqm1jagi"
        }
      }
    },
    "/v2/config/list-tokens": {
      "get": {
        "description": "Retrieves a list of all display cryptocurrencies and networks available on the API.This list specifies the cryptocurrencies that merchants can display on a payment page for end users but does not include the cryptocurrencies that can be stored in wallets on the platform.",
        "operationId": "list-tokens",
        "parameters": [
          {
            "description": "Payment Direction ie - deposit or withdraw",
            "in": "query",
            "name": "direction",
            "schema": {
              "default": "deposit",
              "enum": [
                "deposit",
                "withdraw"
              ],
              "type": "string"
            }
          },
          {
            "allowEmptyValue": true,
            "description": "Limit of records per page",
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 5,
              "examples": [
                1
              ],
              "type": "number"
            }
          },
          {
            "allowEmptyValue": true,
            "description": "Display page number",
            "in": "query",
            "name": "page",
            "schema": {
              "default": 1,
              "examples": [
                1
              ],
              "minimum": 1,
              "type": "number"
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "MID",
            "description": "Merchant or sub-merchant MID. Used to execute the request in the context of that specific entity."
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "List of tokens": {
                    "value": {
                      "data": [
                        {
                          "cryptoTicker": "USDT",
                          "logo": "https://crypto-token-logos.s3.ap-southeast-1.amazonaws.com/usdt.svg",
                          "network": "Ethereum",
                          "symbol": "USDT"
                        },
                        {
                          "cryptoTicker": "USDTTRC20",
                          "logo": "https://crypto-token-logos.s3.ap-southeast-1.amazonaws.com/usdttrc20.svg",
                          "network": "Tron",
                          "symbol": "USDT"
                        },
                        {
                          "cryptoTicker": "USDTSOL",
                          "logo": "https://crypto-token-logos.s3.ap-southeast-1.amazonaws.com/usdtsol.svg",
                          "network": "Solana",
                          "symbol": "USDT"
                        },
                        {
                          "cryptoTicker": "ETHARB",
                          "logo": "https://crypto-token-logos.s3.ap-southeast-1.amazonaws.com/etharb.svg",
                          "network": "Arbitrum",
                          "symbol": "ETH"
                        }
                      ]
                    },
                    "summary": "List of tokens"
                  }
                },
                "schema": {
                  "properties": {
                    "data": {
                      "items": {
                        "properties": {
                          "cryptoTicker": {
                            "description": "Network symbol",
                            "type": "string"
                          },
                          "logo": {
                            "description": "Logo of network",
                            "type": "string"
                          },
                          "network": {
                            "description": "Network name",
                            "type": "string"
                          },
                          "symbol": {
                            "description": "Currency symbol",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "List of Supported Tokens Information"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "Invalid Arguments": {
                    "value": {
                      "code": "INVALID_ARGUMENTS",
                      "message": "Invalid direction"
                    },
                    "summary": "Request containing missing or invalid parameters."
                  }
                },
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Request containing missing or invalid parameters."
          }
        },
        "summary": "List Tokens",
        "tags": [
          "Configuration"
        ],
        "x-stoplight": {
          "id": "ykftk858p2ejh"
        }
      }
    },
    "/v2/exchange-rates/live-rates": {
      "get": {
        "description": "Retrieves the current live rates for deposits and withdrawals for the same currency, offering real-time exchange rate information.",
        "operationId": "get-live-rates-same-currency",
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "required": true,
            "description": "Fiat Currency Symbol",
            "schema": {
              "type": "string",
              "default": "PHP"
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "MID",
            "description": "Merchant or sub-merchant MID. Used to execute the request in the context of that specific entity."
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Live Rates": {
                    "value": {
                      "depositRate": 28.54,
                      "withdrawRate": 26.17
                    },
                    "summary": "Live Rates"
                  }
                },
                "schema": {
                  "properties": {
                    "depositRate": {
                      "description": "Current Live Rate for Buy",
                      "examples": [
                        28.54
                      ],
                      "type": "number"
                    },
                    "withdrawRate": {
                      "description": "Current Live Rate for Sell",
                      "examples": [
                        26.17
                      ],
                      "type": "number"
                    }
                  },
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "depositRate": 28.54,
                      "withdrawRate": 26.17
                    }
                  }
                }
              }
            },
            "description": "Live Rates Information"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "Invalid parameters": {
                    "value": {
                      "code": "CURRENCY_NOT_FOUND",
                      "message": "Currency is currently not available"
                    },
                    "summary": "Request containing missing or invalid parameters."
                  }
                },
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "code": "CURRENCY_NOT_FOUND",
                      "message": "Currency is currently not available"
                    }
                  }
                }
              }
            },
            "description": "Request containing missing or invalid parameters."
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "summary": "Live Rates",
        "tags": [
          "Exchange Rate"
        ],
        "x-stoplight": {
          "id": "pksy6vtchqvc3"
        }
      }
    },
    "/v2/exchange-rates/fiat-to-crypto": {
      "get": {
        "description": "This API allows you to retrieve a quote for converting a specified fiat amount into a corresponding cryptocurrency amount. It requires key parameters such as the fiat currency (fiatTicker), the amount to convert (amount), the target cryptocurrency (cryptoTicker), and the payment method (paymentCode). The response provides the conversion details based on real-time rates. The cURL example demonstrates how to use the API with required headers and query parameters.",
        "operationId": "get-live-rates-fiat-to-crypto",
        "parameters": [
          {
            "name": "fiatTicker",
            "in": "query",
            "required": true,
            "description": "Fiat Currency Symbol",
            "schema": {
              "type": "string",
              "default": "EUR"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "description": "Fiat Amount",
            "schema": {
              "type": "string",
              "default": "100"
            }
          },
          {
            "name": "cryptoTicker",
            "in": "query",
            "required": true,
            "description": "Crypto Currency Symbol",
            "schema": {
              "type": "string",
              "default": "USDC"
            }
          },
          {
            "name": "paymentCode",
            "in": "query",
            "required": true,
            "description": "Payment Method Symbol",
            "schema": {
              "type": "string",
              "default": "sepa_pull"
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "MID",
            "description": "Merchant or sub-merchant MID. Used to execute the request in the context of that specific entity."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {},
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Rates Object": {
                    "value": {
                      "message": {
                        "data": {
                          "cryptoPrice": 35.4897101506816,
                          "maxLimit": 150000,
                          "minLimit": 177.45,
                          "networkFee": 6.2,
                          "processingFee": 35,
                          "receiveAmount": 27.016282,
                          "receiveFiatAmount": 958.8,
                          "sentAmount": 1000,
                          "totalFee": 41.2
                        },
                        "success": true
                      }
                    },
                    "summary": "Fiat to Crypto Rates"
                  }
                },
                "schema": {
                  "properties": {
                    "message": {
                      "properties": {
                        "data": {
                          "properties": {
                            "cryptoPrice": {
                              "type": "number"
                            },
                            "maxLimit": {
                              "type": "integer"
                            },
                            "minLimit": {
                              "type": "number"
                            },
                            "networkFee": {
                              "type": "number"
                            },
                            "processingFee": {
                              "type": "integer"
                            },
                            "receiveAmount": {
                              "type": "number"
                            },
                            "receiveFiatAmount": {
                              "type": "number"
                            },
                            "sentAmount": {
                              "type": "integer"
                            },
                            "totalFee": {
                              "type": "number"
                            }
                          },
                          "type": "object"
                        },
                        "success": {
                          "type": "boolean"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "message": {
                        "data": {
                          "cryptoPrice": 35.4897101506816,
                          "maxLimit": 150000,
                          "minLimit": 177.45,
                          "networkFee": 6.2,
                          "processingFee": 35,
                          "receiveAmount": 27.016282,
                          "receiveFiatAmount": 958.8,
                          "sentAmount": 1000,
                          "totalFee": 41.2
                        },
                        "success": true
                      }
                    }
                  }
                }
              }
            },
            "description": "Rates Information"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "Invalid arguments": {
                    "value": {
                      "code": "CURRENCY_NOT_FOUND",
                      "message": "Currency is currently not available"
                    },
                    "summary": "Request containing missing or invalid parameters"
                  }
                },
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "code": "CURRENCY_NOT_FOUND",
                      "message": "Currency is currently not available"
                    }
                  }
                }
              }
            },
            "description": "Request containing missing or invalid parameters."
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "summary": "Onramp - Fiat to Cryptocurrency",
        "tags": [
          "Exchange Rate"
        ],
        "x-stoplight": {
          "id": "crr91anwx4kfq"
        }
      }
    },
    "/v2/exchange-rates/crypto-to-fiat": {
      "get": {
        "description": "This API provides real-time conversion quotes for selling cryptocurrency in exchange for fiat currency. Users can specify the crypto currency (cryptoTicker), the amount to convert (amount), the fiat currency (fiatTicker). The response contains conversion details, enabling businesses to calculate precise payout amounts. The cURL example illustrates the required headers and query parameters for API usage.",
        "operationId": "get-live-rates-crypto-to-fiat",
        "parameters": [
          {
            "name": "cryptoTicker",
            "in": "query",
            "required": true,
            "description": "Crypto Currency Symbol",
            "schema": {
              "type": "string",
              "default": "USDC"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "description": "Crypto amount if direction is forward; Fiat amount if direction is reverse",
            "schema": {
              "type": "string",
              "default": "100"
            }
          },
          {
            "name": "fiatTicker",
            "in": "query",
            "required": true,
            "description": "Fiat Currency Symbol",
            "schema": {
              "type": "string",
              "default": "EUR"
            }
          },
          {
            "name": "paymentCode",
            "in": "query",
            "required": false,
            "description": "Payment Method Symbol",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "MID",
            "description": "Merchant or sub-merchant MID. Used to execute the request in the context of that specific entity."
          },
          {
            "schema": {
              "type": "string",
              "default": "forward",
              "example": "forward"
            },
            "in": "query",
            "name": "direction",
            "description": "Direction of the Exchange Rates Flow - Allowed Enums - `forward` or `reverse`"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Rates Object": {
                    "value": {
                      "message": {
                        "data": {
                          "cryptoPrice": 34.76,
                          "networkFee": 0,
                          "processingFee": 15,
                          "processingFeeDetails": {
                            "customerFee": 0,
                            "mode": "percentage",
                            "transfiFee": 0.015
                          },
                          "receiveAmount": 1000,
                          "receiveFiatAmount": 1015,
                          "sentAmount": 29.2002301496,
                          "totalFee": 15
                        },
                        "success": true
                      }
                    },
                    "summary": "Crypto to Fiat Rates"
                  }
                },
                "schema": {
                  "properties": {
                    "message": {
                      "properties": {
                        "data": {
                          "properties": {
                            "cryptoPrice": {
                              "type": "number"
                            },
                            "networkFee": {
                              "type": "integer"
                            },
                            "processingFee": {
                              "type": "integer"
                            },
                            "processingFeeDetails": {
                              "properties": {
                                "customerFee": {
                                  "type": "integer"
                                },
                                "mode": {
                                  "type": "string"
                                },
                                "transfiFee": {
                                  "type": "number"
                                }
                              },
                              "type": "object"
                            },
                            "receiveAmount": {
                              "type": "integer"
                            },
                            "receiveFiatAmount": {
                              "type": "integer"
                            },
                            "sentAmount": {
                              "type": "number"
                            },
                            "totalFee": {
                              "type": "integer"
                            }
                          },
                          "type": "object"
                        },
                        "success": {
                          "type": "boolean"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "message": {
                        "data": {
                          "cryptoPrice": 34.76,
                          "networkFee": 0,
                          "processingFee": 15,
                          "processingFeeDetails": {
                            "customerFee": 0,
                            "mode": "percentage",
                            "transfiFee": 0.015
                          },
                          "receiveAmount": 1000,
                          "receiveFiatAmount": 1015,
                          "sentAmount": 29.2002301496,
                          "totalFee": 15
                        },
                        "success": true
                      }
                    }
                  }
                }
              }
            },
            "description": "Rates Information"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "Invalid arguments": {
                    "value": {
                      "code": "CURRENCY_NOT_FOUND",
                      "message": "Currency is currently not available"
                    },
                    "summary": "Request containing missing or invalid parameters"
                  }
                },
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "code": "CURRENCY_NOT_FOUND",
                      "message": "Currency is currently not available"
                    }
                  }
                }
              }
            },
            "description": "Request containing missing or invalid parameters"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "summary": "Offramp - Cryptocurrency to Fiat",
        "tags": [
          "Exchange Rate"
        ],
        "x-stoplight": {
          "id": "ukompd8ba9wlq"
        }
      }
    },
    "/v2/exchange-rates/gaming": {
      "get": {
        "description": "This API allows you to retrieve a quotes for Fiat Payin with Wallet Flow. It requires key parameters such as the fiat currency (depositCurrency), the amount to convert (amount), and the payment method (paymentCode). The response provides the conversion details based on real-time rates. The cURL example demonstrates how to use the API with required headers and query parameters.",
        "operationId": "get-gaming-rates",
        "parameters": [
          {
            "name": "depositCurrency",
            "in": "query",
            "required": true,
            "description": "Fiat Currency Symbol",
            "schema": {
              "type": "string",
              "default": "EUR"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "description": "Fiat Amount",
            "schema": {
              "type": "string",
              "default": "100"
            }
          },
          {
            "name": "paymentCode",
            "in": "query",
            "required": true,
            "description": "Payment Method Symbol",
            "schema": {
              "type": "string",
              "default": "sepa_pull"
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "MID",
            "description": "Merchant or sub-merchant MID. Used to execute the request in the context of that specific entity."
          }
        ],
        "requestBody": {
          "content": {}
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Rates Object": {
                    "value": {
                      "message": {
                        "data": {
                          "withdrawAmount": 11.144317,
                          "exchangeRate": 0.879372,
                          "processingFee": 0.2,
                          "depositAmount": 10,
                          "totalFee": 0.2,
                          "fiatNetAmount": 9.8,
                          "minLimit": 2,
                          "maxLimit": 87937.15
                        },
                        "success": true
                      }
                    },
                    "summary": "Gaming Rates"
                  }
                },
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "message": {
                        "data": {
                          "withdrawAmount": 11.144317,
                          "exchangeRate": 0.879372,
                          "processingFee": 0.2,
                          "depositAmount": 10,
                          "totalFee": 0.2,
                          "fiatNetAmount": 9.8,
                          "minLimit": 2,
                          "maxLimit": 87937.15
                        },
                        "success": true
                      }
                    }
                  },
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "withdrawAmount": {
                              "type": "number"
                            },
                            "exchangeRate": {
                              "type": "number"
                            },
                            "processingFee": {
                              "type": "number"
                            },
                            "depositAmount": {
                              "type": "number"
                            },
                            "totalFee": {
                              "type": "number"
                            },
                            "fiatNetAmount": {
                              "type": "number"
                            },
                            "minLimit": {
                              "type": "number"
                            },
                            "maxLimit": {
                              "type": "number"
                            }
                          }
                        },
                        "success": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            },
            "description": "Rates Information"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "Invalid arguments": {
                    "value": {
                      "code": "CURRENCY_NOT_FOUND",
                      "message": "Currency is currently not available"
                    },
                    "summary": "Request containing missing or invalid parameters"
                  }
                },
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "code": "CURRENCY_NOT_FOUND",
                      "message": "Currency is currently not available"
                    }
                  }
                }
              }
            },
            "description": "Request containing missing or invalid parameters."
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "summary": "Gaming Rates",
        "tags": [
          "Exchange Rate"
        ],
        "x-stoplight": {
          "id": "o5365buxpqvgf"
        }
      }
    },
    "/v2/exchange-rates/deposit": {
      "get": {
        "description": "Retrieves the current quotes for paying in fiat currencies and converting to stablecoins. This provides the exchange rate and the equivalent stablecoin amount for a given fiat deposit, allowing users to understand the conversion rate and associated fees when exchanging fiat for stablecoins.",
        "operationId": "get-live-rates-deposit",
        "parameters": [
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "description": "Amount you will be depositing",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "currency",
            "in": "query",
            "required": true,
            "description": "Currency you will be depositing",
            "schema": {
              "type": "string",
              "default": "EUR"
            }
          },
          {
            "name": "paymentCode",
            "in": "query",
            "required": false,
            "description": "Payment Code for which you want to check fees for",
            "schema": {
              "type": "string",
              "default": "sepa_pull"
            }
          },
          {
            "allowEmptyValue": false,
            "description": "Direction of the Exchange Rate Flow",
            "in": "query",
            "name": "direction",
            "schema": {
              "default": "forward",
              "enum": [
                "forward",
                "reverse"
              ],
              "examples": [
                "forward"
              ],
              "type": "string"
            }
          },
          {
            "name": "balanceCurrency",
            "in": "query",
            "required": false,
            "description": "Specifies the fiat/stable currency for which you want to fetch the exchange rates. This is the currency you intend to settle in. If no value is specified, it will your default settlement currency(USDC, EUR)",
            "schema": {
              "type": "string",
              "default": "EUR"
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "MID",
            "description": "Merchant or sub-merchant MID. Used to execute the request in the context of that specific entity."
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Rates Object": {
                    "value": {
                      "data": {
                        "exchangeRate": 0.0178,
                        "fees": {
                          "partnerFee": 50,
                          "processingFee": 100,
                          "totalFee": 150
                        },
                        "fiatAmount": 5000,
                        "fiatTicker": "PHP",
                        "withdrawAmount": 86.521
                      },
                      "status": "success"
                    },
                    "summary": "Fiat to Stablecoin Rates"
                  }
                },
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "exchangeRate": {
                          "type": "number"
                        },
                        "fees": {
                          "properties": {
                            "partnerFee": {
                              "description": "Fee commission to the customer.",
                              "type": "integer"
                            },
                            "processingFee": {
                              "description": "Fee commission to TransFi.",
                              "type": "integer"
                            },
                            "totalFee": {
                              "description": "Sum of partnerFee and processingFee",
                              "type": "integer"
                            }
                          },
                          "type": "object"
                        },
                        "fiatAmount": {
                          "type": "integer"
                        },
                        "fiatTicker": {
                          "type": "string"
                        },
                        "quoteId": {
                          "description": "Quote Id - Can be passed as a parameter while creating orders to ensure same quotes **within one minute**",
                          "type": "string"
                        },
                        "withdrawAmount": {
                          "type": "number"
                        }
                      },
                      "type": "object"
                    },
                    "status": {
                      "type": "string"
                    }
                  },
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "data": {
                        "exchangeRate": 0.0178393541074534,
                        "fees": {
                          "partnerFee": 50,
                          "processingFee": 100,
                          "totalFee": 150
                        },
                        "fiatAmount": 5000,
                        "fiatTicker": "PHP",
                        "withdrawAmount": 86.521
                      },
                      "status": "success"
                    }
                  }
                }
              }
            },
            "description": "Rates Information."
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "Invalid Arguments": {
                    "value": {
                      "code": "INVALID_ARGUMENTS",
                      "message": "Currency not supported"
                    },
                    "summary": "Request containing missing or invalid parameters"
                  }
                },
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "code": "INVALID_ARGUMENTS",
                      "message": "Currency not supported"
                    }
                  }
                }
              }
            },
            "description": "Request containing missing or invalid parameters."
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "Customer not found": {
                    "value": {
                      "code": "CUSTOMER_NOT_FOUND",
                      "message": "Unable to identify the customer"
                    },
                    "summary": "No resource found"
                  }
                },
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "code": "CUSTOMER_NOT_FOUND",
                      "message": "Unable to identify the customer"
                    }
                  }
                }
              }
            },
            "description": "No resource found."
          }
        },
        "summary": "Payin - Fiat to Stablecoin",
        "tags": [
          "Exchange Rate"
        ],
        "x-stoplight": {
          "id": "dwfv9ludnmyww"
        }
      }
    },
    "/v2/exchange-rates/withdraw": {
      "get": {
        "description": "Retrieves the current quotes for payouts from stablecoins to fiat currencies. This provides the exchange rate and the equivalent fiat amount for a given stablecoin withdrawal, allowing users to understand the conversion rate and associated fees when exchanging stablecoins for fiat.",
        "operationId": "get-live-rates-withdraw",
        "parameters": [
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "description": "Amount you will be withdrawing",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "currency",
            "in": "query",
            "required": true,
            "description": "Currency you will be withdrawing",
            "schema": {
              "type": "string",
              "default": "EUR"
            }
          },
          {
            "name": "paymentCode",
            "in": "query",
            "required": false,
            "description": "Payment Code for which you want to check fees for",
            "schema": {
              "type": "string",
              "default": "sepa_pull"
            }
          },
          {
            "allowEmptyValue": false,
            "description": "Direction of the Exchange Rate Flow",
            "in": "query",
            "name": "direction",
            "schema": {
              "default": "forward",
              "enum": [
                "forward",
                "reverse"
              ],
              "examples": [
                "forward"
              ],
              "type": "string"
            }
          },
          {
            "name": "balanceCurrency",
            "in": "query",
            "required": false,
            "description": "Specifies the fiat/stable currency for which you want to fetch the exchange rates. This is the currency you intend to use the balance for. If no value is specified, it will your default balance currency(USDC, EUR)",
            "schema": {
              "type": "string",
              "default": "EUR"
            }
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "MID",
            "description": "Merchant or sub-merchant MID. Used to execute the request in the context of that specific entity."
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Rates Object": {
                    "value": {
                      "data": {
                        "depositAmount": 86.521,
                        "exchangeRate": 0.017,
                        "fees": {
                          "partnerFee": 50,
                          "processingFee": 100,
                          "totalFee": 150
                        },
                        "fiatAmount": 5000,
                        "fiatTicker": "PHP",
                        "quoteId": "d89f063f-d69c-4792-8c90-40d3598cdafa"
                      },
                      "status": "success"
                    },
                    "summary": "Stablecoin to Fiat Rates"
                  }
                },
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "depositAmount": {
                          "type": "number"
                        },
                        "exchangeRate": {
                          "type": "number"
                        },
                        "fees": {
                          "properties": {
                            "partnerFee": {
                              "type": "integer"
                            },
                            "processingFee": {
                              "type": "integer"
                            },
                            "totalFee": {
                              "type": "integer"
                            }
                          },
                          "type": "object"
                        },
                        "fiatAmount": {
                          "type": "integer"
                        },
                        "fiatTicker": {
                          "type": "string"
                        },
                        "quoteId": {
                          "description": "Quote Id - Can be passed as a parameter while creating orders to ensure same quotes **within one minute**",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "status": {
                      "type": "string"
                    }
                  },
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "data": {
                        "depositAmount": 86.521,
                        "exchangeRate": 0.017,
                        "fees": {
                          "partnerFee": 50,
                          "processingFee": 100,
                          "totalFee": 150
                        },
                        "fiatAmount": 5000,
                        "fiatTicker": "PHP"
                      },
                      "status": "success"
                    }
                  }
                }
              }
            },
            "description": "Rates Information."
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "Invalid arguments": {
                    "value": {
                      "code": "INVALID_ARGUMENTS",
                      "message": "Currency not supported"
                    },
                    "summary": "Request containing missing or invalid parameters"
                  }
                },
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "code": "INVALID_ARGUMENTS",
                      "message": "Currency not supported"
                    }
                  }
                }
              }
            },
            "description": "Request containing missing or invalid parameters."
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "Customer not found": {
                    "value": {
                      "code": "CUSTOMER_NOT_FOUND",
                      "message": "Unable to identify the customer"
                    },
                    "summary": "No resource found"
                  }
                },
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "code": "CUSTOMER_NOT_FOUND",
                      "message": "Unable to identify the customer"
                    }
                  }
                }
              }
            },
            "description": "No resource found."
          }
        },
        "summary": "Payout - Stablecoin to Fiat",
        "tags": [
          "Exchange Rate"
        ],
        "x-stoplight": {
          "id": "lsfsm3umdnur3"
        }
      }
    },
    "/v2/users/individual": {
      "post": {
        "description": "This API allows the creation of an individual user profile within the system. The user can be registered as a sender or recipient, depending on the requirements of your integration. The required fields include personal details such as name, email, country, and address, along with additional fields based on compliance requirements.",
        "operationId": "create-individual-user",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-examples": {
                  "Example 1": {
                    "firstName": "John",
                    "lastName": "Doe",
                    "gender": "male",
                    "email": "johndoe@transfi.com",
                    "date": "20-01-2002",
                    "country": "US",
                    "phone": "123412340",
                    "address": {
                      "city": "Springfield",
                      "postalCode": "62701",
                      "state": "IL",
                      "street": "123 Main St"
                    }
                  }
                },
                "required": [
                  "email",
                  "firstName",
                  "lastName",
                  "date",
                  "country",
                  "phone",
                  "address"
                ],
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "date": {
                    "type": "string",
                    "description": "Date of Birth"
                  },
                  "country": {
                    "type": "string",
                    "description": "Country of citizenship"
                  },
                  "gender": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "phoneCode": {
                    "type": "string",
                    "x-stoplight": {
                      "id": "7hsj59qqoyqta"
                    }
                  },
                  "address": {
                    "type": "object",
                    "required": [
                      "city",
                      "postalCode",
                      "state",
                      "street"
                    ],
                    "properties": {
                      "city": {
                        "type": "string"
                      },
                      "postalCode": {
                        "type": "string"
                      },
                      "state": {
                        "type": "string"
                      },
                      "street": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "examples": {
                "Example 1": {
                  "value": {
                    "firstName": "John",
                    "lastName": "Doe",
                    "gender": "male",
                    "email": "johndoe@transfi.com",
                    "date": "20-01-2002",
                    "country": "US",
                    "phone": "123412340",
                    "address": {
                      "city": "Springfield",
                      "postalCode": "62701",
                      "state": "IL",
                      "street": "123 Main St"
                    }
                  }
                }
              }
            }
          },
          "description": "Payload passed in - Contacts POST Request"
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "examples": {
                  "User Created Object": {
                    "value": {
                      "userId": "UX-12345678901"
                    },
                    "summary": "User created successfully"
                  }
                },
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "userId": "UX-241125161812424"
                    }
                  },
                  "properties": {
                    "userId": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Individual User Created Information"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "Duplicate Request": {
                    "value": {
                      "code": "DUPLICATE_REQUEST",
                      "message": "Contact already exists"
                    },
                    "summary": "Duplicate Request"
                  },
                  "Missing Arguments": {
                    "value": {
                      "code": "MISSING_ARGUMENTS",
                      "message": "Request Body- regNo"
                    },
                    "summary": "Missing Arguments"
                  },
                  "Invalid Arguments": {
                    "value": {
                      "code": "INVALID_REQUEST",
                      "message": "Invalid country"
                    },
                    "summary": "Request containing missing or invalid parameters"
                  }
                },
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "code": "MISSING_ARGUMENTS",
                      "message": "Request Body- regNo",
                      "stack": "Mandatory Fields is missing"
                    }
                  }
                }
              }
            },
            "description": "Request containing missing or invalid parameters."
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "Customer not found": {
                    "value": {
                      "code": "CUSTOMER_NOT_FOUND",
                      "message": "Unable to identify the customer"
                    },
                    "summary": "No resource found"
                  }
                },
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "code": "CUSTOMER_NOT_FOUND",
                      "message": "Unable to identify the customer"
                    }
                  }
                }
              }
            },
            "description": "No resource found."
          },
          "409": {
            "content": {
              "application/json": {
                "examples": {
                  "Business User Already Exists": {
                    "value": {
                      "code": "CONFLICT",
                      "message": "User already exists as Business"
                    },
                    "summary": "Business User already exists"
                  },
                  "User Already Exists - Conflict": {
                    "value": {
                      "code": "CONFLICT",
                      "message": "Individual already exists"
                    },
                    "summary": "User already exists - Conflict"
                  }
                },
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "code": "INVALID_REQUEST",
                      "message": "Invalid country"
                    }
                  }
                }
              }
            },
            "description": "User Already Exists - Conflict"
          }
        },
        "summary": "Create Individual",
        "tags": [
          "Individual User"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "MID",
            "description": "Merchant or sub-merchant MID. Used to execute the request in the context of that specific entity."
          }
        ],
        "x-stoplight": {
          "id": "8b9pfm810904i"
        }
      }
    },
    "/v2/users/individuals": {
      "get": {
        "description": "This API allows you to retrieve a list of individual users registered in the system. Use the GET method to query the endpoint with appropriate headers. The response will include details about individual users, enabling you to review or manage their profiles based on your integration requirements.",
        "operationId": "list-individual-users",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "User Details Object": {
                    "value": {
                      "pages": 0,
                      "total": 0,
                      "users": [
                        {
                          "address": {
                            "city": "string",
                            "postalCode": "string",
                            "state": "string",
                            "street": "string"
                          },
                          "country": "string",
                          "dob": "string",
                          "email": "string",
                          "firstName": "string",
                          "gender": "string",
                          "lastName": "string",
                          "phone": "string",
                          "status": "string",
                          "userId": "string"
                        }
                      ]
                    },
                    "summary": "User details"
                  }
                },
                "schema": {
                  "properties": {
                    "pages": {
                      "type": "integer"
                    },
                    "total": {
                      "type": "integer"
                    },
                    "users": {
                      "items": {
                        "properties": {
                          "address": {
                            "properties": {
                              "city": {
                                "type": "string"
                              },
                              "postalCode": {
                                "type": "string"
                              },
                              "state": {
                                "type": "string"
                              },
                              "street": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "country": {
                            "type": "string"
                          },
                          "dob": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "gender": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "pages": 10,
                      "total": 20,
                      "users": [
                        {
                          "address": {
                            "city": "noida",
                            "postalCode": "201301",
                            "state": "UP",
                            "street": "noida"
                          },
                          "country": "IN",
                          "dob": "2002-01-20T00:00:00.000Z",
                          "email": "deepak+25nov@transfi.com",
                          "firstName": "Deepak",
                          "gender": "male",
                          "lastName": "Singh",
                          "phone": "123412340",
                          "status": "trial_user",
                          "userId": "UX-241125161812424"
                        },
                        {
                          "country": "US",
                          "dob": "2002-01-20T00:00:00.000Z",
                          "email": "deepak+123@transfi.com",
                          "firstName": "deepak",
                          "gender": "male",
                          "lastName": "singh",
                          "status": "active",
                          "userId": "UX-241122125053457"
                        }
                      ]
                    }
                  }
                }
              }
            },
            "description": "User Details Response."
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "Missing Arguments": {
                    "value": {
                      "code": "MISSING_ARGUMENTS",
                      "message": "Request Body- regNo"
                    },
                    "summary": "Missing Arguments"
                  },
                  "Invalid Arguments": {
                    "value": {
                      "code": "INVALID_REQUEST",
                      "message": "Invalid Type"
                    },
                    "summary": "Request containing invalid parameters"
                  }
                },
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "code": "MISSING_ARGUMENTS",
                      "message": "Request Body- regNo",
                      "stack": "Mandatory Fields is missing"
                    }
                  }
                }
              }
            },
            "description": "Request containing invalid or missing parameters."
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "Customer Not Found": {
                    "value": {
                      "code": "CUSTOMER_NOT_FOUND",
                      "message": "Unable to identify the customer"
                    },
                    "summary": "No User found"
                  }
                },
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "code": "CUSTOMER_NOT_FOUND",
                      "message": "Unable to identify the customer"
                    }
                  }
                }
              }
            },
            "description": "No resource found."
          }
        },
        "summary": "List Individuals",
        "tags": [
          "Individual User"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "MID",
            "description": "Merchant or sub-merchant MID. Used to execute the request in the context of that specific entity."
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string",
              "default": "john@gmail.com"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string",
              "default": "UX-12345"
            }
          }
        ],
        "x-stoplight": {
          "id": "guibsv3iecp1b"
        }
      }
    },
    "/v2/users/business": {
      "post": {
        "description": "This API facilitates the creation of a business user profile in the system. A business user can be registered as either a sender or a recipient, depending on your integration needs. Required fields include business details such as name, registration number, email, country, and address, along with additional fields to meet compliance requirements.",
        "operationId": "create-business-user",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example 1": {
                  "value": {
                    "address": {
                      "city": "Los Angeles",
                      "postalCode": "90001",
                      "state": "CA",
                      "street": "456 Elm St"
                    },
                    "businessName": "Tech Solutions LLC",
                    "country": "US",
                    "date": "20-01-2001",
                    "email": "info@techsolutions.com",
                    "phone": "551234567",
                    "regNo": "987654321"
                  }
                }
              },
              "schema": {
                "type": "object",
                "x-examples": {
                  "Example 1": {
                    "address": {
                      "city": "noida",
                      "postalCode": "201301",
                      "state": "UP",
                      "street": "noida"
                    },
                    "businessName": "Deepak",
                    "country": "IN",
                    "date": "20-01-2002",
                    "email": "deepak@transfi.com",
                    "phone": "123412340",
                    "regNo": "9876543210"
                  }
                },
                "required": [
                  "email",
                  "businessName",
                  "country",
                  "regNo",
                  "phone",
                  "address"
                ],
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "businessName": {
                    "description": "The name of the company.",
                    "type": "string"
                  },
                  "country": {
                    "type": "string",
                    "description": "Country of registeration"
                  },
                  "regNo": {
                    "description": "Unique number assigned to the company when it was registered as a legal entity.",
                    "type": "string"
                  },
                  "date": {
                    "description": "Date of company incorporation (format dd-mm-YYYY, e.g. 25-09-2001).",
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "phoneCode": {
                    "type": "string",
                    "x-stoplight": {
                      "id": "u8jg48l9u062c"
                    }
                  },
                  "address": {
                    "type": "object",
                    "required": [
                      "city",
                      "postalCode",
                      "state",
                      "street"
                    ],
                    "properties": {
                      "city": {
                        "type": "string"
                      },
                      "postalCode": {
                        "type": "string"
                      },
                      "state": {
                        "type": "string"
                      },
                      "street": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "description": "Payload passed in - Contacts POST Request"
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "examples": {
                  "Business User Created Object": {
                    "value": {
[...]
